

h1{
	color: purple;
}





div{
	width:33%;
	height:200px;
	padding:10%;
	border:5px;
	margin: 50;
	float: left;
	background-color: #fff
}


hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}







footer{
	display: block;
	height: 50px;

}